{% extends 'base.html' %}

{% block title %}Current Hunt{% endblock %}

{% block content %}
    {% load static %}
    <img src={% static 'pokemon_shiny_images/' %}{{ pokemon_id }}.png alt="Shiny Image">
    <h1>{{ pokemon_name }}</h1>
    <p>
        {% if caught  != 'False' %} Caught by: {{ user }} in {{ count }} trys!
            The method used was {{ hunting_method }} and the final binomial distribution was {{ binomial_distribution }}! {% endif %}
    </p>
    <p>
        {% if caught  == 'False' %} Attempted by: {{ user }} with {{ count }} trys! The method being used is
        {{ hunting_method }}and the binomial distribution is {{ binomial_distribution }}! {% endif %}
    </p>
{% endblock %}